@page "/"


<PageTitle>Home</PageTitle>

<div>
    <h1>Welcome to my simple SignalR Blazor demo!</h1>
    Unlike the other projects I have done recently. I have had no experience with this tech stack.<br />
    I have however, expirmented with this type of functionality many years ago. I have to say this is a huge improvement. <br /><br />
    I managed to throw together this simple dice game in a day. It's pretty rough, and there are some <br />
    unaddressed bugs around the edge cases of new players joining or dropping off mid-game. That said, it mostly works and <br />
    with very little effort.<br /><br />
    I am looking forward to working with SignalR more. I am already thinking of new things to try. &#128513; <br />
    You can check out the repo <a href="https://github.com/MyPiTech/SignalRDiceGame" target="_blank">here</a>.<br /><br />
    <h3>Other recent projects</h3>
    <ul>
        <li><a href="https://swcoretestapi.azurewebsites.net/swagger/index.html" target="_blank">.Net Core RESTful API (Swagger Docs)</a></li>
        <li><a href="https://mssimpletestmvc.azurewebsites.net/" target="_blank">.Net Core MVC app that uses the API as its backend.</a></li>
    </ul>
</div>

